* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* so captured pieces can be on top/bottom */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:rgba(0, 128, 0, 0.432);
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
    height: 630px;
    border: 10px solid rgba(0, 128, 0, 0.348);
    border-radius: 10px;
   
}

.board div {
    width: 78.7px;
    height: 78.7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    background: #769655;
}

.light {
    background: #EEEED2;
}

.board img {
    width: 80px;
    height: 80px;
}

/* Captured pieces containers */
.captured {
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    min-height: 60px;
    margin: 1px 0;
    padding: 5px;
    border: 2px solid rgba(128, 128, 128, 0.3);
    border-radius: 8px;
    background: rgba(172, 255, 47, 0.39);
}

.captured img {
    width: 55px;
    height: 55px;
    margin: 8px;
}
