body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }

  .chess-board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    border: 4px solid #333;
  }

  .chess-board div {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .white {
    background-color: #eee;
  }

  .black {
    background-color: #666;
  }

  .chess-board img {
    width: 100px;
    height: 100px;
  }